{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "News" %}{% endblock %}
{% block bodyclass %}menu-news{% endblock %}
{% block content %}

    {% trans "Delete" as new_str %}
    {% include "wagtailadmin/shared/header.html" with title=new_str subtitle=newsitem icon="grip" %}

    <div class="row row-flush nice-padding">
        <form action="{% url 'wagtailnews_delete' pk=newsindex.pk newsitem_pk=newsitem.pk %}" method="POST">
            {% csrf_token %}
            <p>{% blocktrans %}Are you sure you want to delete this news item?{% endblocktrans %}</p>
            <input type="submit" class="button no" value="{% trans 'Yes, delete' %}" />
        </form>
    </div>
{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
{% endblock %}
{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
{% endblock %}
