{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans "News" %}{% endblock %}
{% block bodyclass %}menu-news{% endblock %}
{% block content %}

    <header class="nice-padding">
        <div class="row row-flush">
            <div class="left col9">
                <h1 class="icon icon-grip">{% blocktrans %}News{% endblocktrans %} <span>{{ newsindex.url }}</span></h1>
            </div>
            <div class="right col3">
                <a href="{% url 'wagtailnews_create' newsindex.pk %}" class="button bicolor icon icon-plus">{% blocktrans %}Add news post{% endblocktrans %}</a>
            </div>
        </div>
    </header>

    {% if newsitem_list.exists %}
        <table class="listing full-width">
            <colgroup>
            <thead><tr class="table-headers">
                <th class="title">Title</th>
                <th class="date">Date</th>
            </tr></thead>
            <tbody>
            {% for newsitem in newsitem_list %}
                <tr>
                    <td class="title">
                        <h2>
                            <a href="{% url 'wagtailnews_edit' pk=newsindex.pk newsitem_pk=newsitem.pk %}">
                                {{ newsitem }}
                            </a>
                        </h2>
                        <ul class="actions">
                            <li><a href="{% url 'wagtailnews_edit' pk=newsindex.pk newsitem_pk=newsitem.pk %}" class="button button-small">{% trans 'Edit' %}</a></li>
                            <li><a href="{% url 'wagtailnews_delete' pk=newsindex.pk newsitem_pk=newsitem.pk %}" class="button button-small button-secondary no">{% trans 'Delete' %}</a></li>
                        </ul>
                    </td>
                    <td class="date">
                        {{ newsitem.date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="nice-padding">No news posts yet!</div>
    {% endif %}
{% endblock %}
